<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="StrConnMdlLocal" providerName="Oracle.DataAccess.Client" connectionString="Data Source=(DESCRIPTION =(ADDRESS =(PROTOCOL = TCP)(HOST= 10.10.2.151)(PORT = 1521))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = XE)));User Id={0};Password={1}" />
    <add name="StrConnMdlLocal2" providerName="Oracle.DataAccess.Client" connectionString="Data Source=(DESCRIPTION =(ADDRESS =(PROTOCOL = TCP)(HOST= 127.0.0.1)(PORT = 1521))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = XE)));User Id={0};Password={1}" />
    <add name="StrConnMdlDistant" providerName="Oracle.DataAccess.Client" connectionString="Data Source=(DESCRIPTION =(ADDRESS =(PROTOCOL = TCP)(HOST= freesio.lyc-bonaparte.fr)(PORT = 15211))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = XE)));User Id={0};Password={1}" />
  </connectionStrings>


  <appSettings>
    <add key="TitreApplication" value="Maison des Ligues" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Expediteur" value="ppetfe@gmail.com"/>
    <add key="Motdepasse" value="ppemdl2015"/>
    <add key="Host" value="smtp.gmail.com"/>
    <add key="Port" value="587"/>
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>